body{
    background-color: #d2d2d2;
    margin: 0%;
}
div{
    background-color: #269199;
    height: 40px;
    align-content: center;
    text-align: center;
}
a{
    margin: 50px;
    text-decoration: none;
    color: #d2d2d2;
}
form{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 25px;
}
table{
    border-radius: 15px;
    border: none;
    background-color: #58afb8;
    width: 600px;
    height: 600px;
}
.in{
    background-color: #d2d2d2;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    margin-left: 150px;
    
}
.in:hover{
    background-color:#ec225e;
    color: #d2d2d2;
}
a:hover{
    color:#ec225e;
}