body{
    margin: 0% auto;
}
div{
    background-color: #269199;
    height: 40px;
    align-content: center;
    text-align: center;
}
.conexao{
    margin: 20px;
    text-decoration: none;
    color: #d2d2d2;
}